

html.ncd-photo-lock{
	overflow: hidden;
}
a[data-photo-group]{
	cursor:pointer;
}
.ncd-photo *{
	padding: 0;
	margin: 0;
	list-style: none;
}
.ncd-photo .ncd-photo{
	display: none;
}
.ncd-photo ul{
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}
.ncd-photo ul:after {
  content: "";
  display: table;
  clear: both;
}
.ncd-photo li{
	cursor: zoom-in;
	line-height: 0;
}
.ncd-photo li.hide{
	display: none !important;
}
.ncd-photo li div{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: -webkit-box-shadow 150ms ease-out;
	-moz-transition: -moz-box-shadow 150ms ease-out;
	transition: box-shadow 150ms ease-out;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
}
.ncd-photo li img{
	position: relative;
	z-index: 10;
	-webkit-transform: -webkit-translateZ(0);
	-moz-transform: -moz-translateZ(0);
	transform: translateZ(0);
}
.ncd-photo ul p{
	display: inline-block;
	z-index: 30;
	font-variant: normal;
	position: absolute;
	line-height: 1.4;
	margin: 0 0 10px;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: -webkit-translateZ(0);
	-moz-transform: -moz-translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout:none;}

.ncd-photo ul p b{
	font-weight: normal;
	font-style: normal;
	padding-right: 3px;
}
.ncd-photo ul p em{
	font-weight: normal;
	font-style: normal;
}
.ncd-photo ul p span{
	display: inline-block;
	padding: 6px 12px;
}
.ncd-photo ul p span.empty{
	visibility: hidden;
}

.ncd-photo[data-italic-title="True"] p b,
.ncd-photo[data-italic-caption="True"] p em{ font-style: italic; }

.ncd-photo[data-bold-title="True"] p b,
.ncd-photo[data-bold-caption="True"] p em{ font-weight: bold; }

.ncd-photo[data-hide-title="True"] p b,
.ncd-photo[data-hide-caption="True"] p em,
.ncd-photo[data-hide-title="True"][data-hide-caption="True"] p{ display: none; }

.ncd-photo[data-hide-caption="True"] ul p b{padding-right: 0;}

/* Caption Positions */

.ncd-photo ul.cap-hov li p{
	opacity: 0;
	-webkit-transition: -webkit-transform 300ms, opacity 300ms;
	-moz-transition: -moz-transform 300ms, opacity 300ms;
	transition: transform 300ms, opacity 300ms;
	-webkit-transform: -webkit-translate3d(0,4px,0);
	-moz-transform: -moz-translate3d(0,4px,0);
	transform: translate3d(0,4px,0); 
}
.ncd-photo ul.cap-hov li:hover p{
	opacity: 1;
	-webkit-transform: -webkit-translate3d(0,0,0);
	-moz-transform: -moz-translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.ncd-photo ul.cap-hide li p{
	display: none !important;
}
.ncd-photo ul.cap-ibl p,
.ncd-photo ul.cap-ibc p{
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	text-align: left;
}
.ncd-photo ul.cap-ibl p span,
.ncd-photo ul.cap-ibc p span{
	display: block;
}
.ncd-photo ul.cap-imbl p,
.ncd-photo ul.cap-imbc p{
	left: 20px;
	bottom: 10px;
	right: 20px;
	text-align: left;
}
.ncd-photo ul.cap-ibc p,
.ncd-photo ul.cap-imbc p{
	text-align: center;
}
.ncd-photo ul.cap-imbl p span,
.ncd-photo ul.cap-imbc p span{
	border-radius: 3px;
}

/* FLOW Thumbnails */

.ncd-photo.photo-flow {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: .85em;
  -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}
.ncd-photo.photo-flow li div{
	display: inline-block;
	width: 100%;
	background: none !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ncd-photo.photo-flow li div:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	content: "";
	display: block;
	-webkit-transition: box-shadow 150ms ease-out;
	-moz-transition: box-shadow 150ms ease-out;
	transition: box-shadow 150ms ease-out;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
}
.ncd-photo.photo-flow li img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}
.ncd-photo.photo-flow ul.cap-ibl li p,
.ncd-photo.photo-flow ul.cap-ibc li p{
	-webkit-transform: -webkit-translate3d(0,0,0);
	-moz-transform: -moz-translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Spacing Thumbnails */

.ncd-photo.space-0.photo-grid{margin: 0;}
.ncd-photo.space-0.photo-grid li div{margin: 0;}
.ncd-photo.space-0.photo-flow li div{margin: 0;}
.ncd-photo.space-0.photo-flow {
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	column-gap: 0;
}

.ncd-photo.space-1.photo-grid{margin: 0 -1px;}
.ncd-photo.space-1.photo-grid li div{margin: 1px;}
.ncd-photo.space-1.photo-flow li div{margin: 0 0 2px;}
.ncd-photo.space-1.photo-flow {
	-moz-column-gap: 2px;
	-webkit-column-gap: 2px;
	column-gap: 2px;
}
.ncd-photo.space-3.photo-grid{margin: 0 -3px;}
.ncd-photo.space-3.photo-grid li div{margin: 3px;}
.ncd-photo.space-3.photo-flow li div{margin: 0 0 6px;}
.ncd-photo.space-3.photo-flow {
	-moz-column-gap: 6px;
	-webkit-column-gap: 6px;
	column-gap: 6px;
}
.ncd-photo.space-5.photo-grid{margin: 0 -5px;}
.ncd-photo.space-5.photo-grid li div{margin: 5px;}
.ncd-photo.space-5.photo-flow li div{margin: 0 0 10px;}
.ncd-photo.space-5.photo-flow {
	-moz-column-gap: 10px;
	-webkit-column-gap: 10px;
	column-gap: 10px;
}
.ncd-photo.space-7.photo-grid{margin: 0 -7px;}
.ncd-photo.space-7.photo-grid li div{margin: 7px;}
.ncd-photo.space-7.photo-flow li div{margin: 0 0 14px;}
.ncd-photo.space-7.photo-flow {
	-moz-column-gap: 14px;
	-webkit-column-gap: 14px;
	column-gap: 14px;
}
.ncd-photo.space-9.photo-grid{margin: 0 -9px;}
.ncd-photo.space-9.photo-grid li div{margin: 9px;}
.ncd-photo.space-9.photo-flow li div{margin: 0 0 18px;}
.ncd-photo.space-9.photo-flow {
	-moz-column-gap: 18px;
	-webkit-column-gap: 18px;
	column-gap: 18px;
}

.ncd-photo.space-11.photo-grid{margin: 0 -11px;}
.ncd-photo.space-11.photo-grid li div{margin: 11px;}
.ncd-photo.space-11.photo-flow li div{margin: 0 0 22px;}
.ncd-photo.space-11.photo-flow {
	-moz-column-gap: 22px;
	-webkit-column-gap: 22px;
	column-gap: 22px;
}

.ncd-photo.space-13.photo-grid{margin: 0 -13px;}
.ncd-photo.space-13.photo-grid li div{margin: 13px;}
.ncd-photo.space-13.photo-flow li div{margin: 0 0 26px;}
.ncd-photo.space-13.photo-flow {
	-moz-column-gap: 26px;
	-webkit-column-gap: 26px;
	column-gap: 26px;
}

.ncd-photo.space-15.photo-grid{margin: 0 -15px;}
.ncd-photo.space-15.photo-grid li div{margin: 15px;}
.ncd-photo.space-15.photo-flow li div{margin: 0 0 30px;}
.ncd-photo.space-15.photo-flow {
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
}

/* GRID Thumbnails */

.ncd-photo.photo-grid li{
	line-height: 0;
	float: left;
	display: block;
	position: relative;
	height: auto;
}
.ncd-photo.photo-grid li div{
	overflow: hidden;
}
.ncd-photo.photo-grid img{
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.ncd-photo.photo-grid ul li div:after{
	padding-top: 100%;
	display: block;
	content: '';
}
.ncd-photo.photo-col-1.photo-grid li,
.ncd-photo.photo-col-2.photo-grid li,
.ncd-photo.photo-col-3.photo-grid li,
.ncd-photo.photo-col-4.photo-grid li,
.ncd-photo.photo-col-5.photo-grid li{width: 100%;}

/* Thumbnail Radius */

.ncd-photo.rad-0 li div,
.ncd-photo.rad-0.photo-flow li div:before,
.ncd-photo.rad-0.photo-flow li img,
.ncd-photo.rad-0.photo-flow li div{border-radius:  0;}
.ncd-photo.rad-0 ul.cap-ibl p span,
.ncd-photo.rad-0 ul.cap-ibc p span{border-radius: 0; }

.ncd-photo.rad-3 li div,
.ncd-photo.rad-3.photo-flow li div:before,
.ncd-photo.rad-3.photo-flow li img,
.ncd-photo.rad-3.photo-flow li div{border-radius:  3px;}
.ncd-photo.rad-3 ul.cap-ibl p span,
.ncd-photo.rad-3 ul.cap-ibc p span{border-radius: 0 0 3px 3px; }

.ncd-photo.rad-5 li div,
.ncd-photo.rad-5.photo-flow li div:before,
.ncd-photo.rad-5.photo-flow li img,
.ncd-photo.rad-5.photo-flow li div{border-radius:  5px;}
.ncd-photo.rad-5 ul.cap-ibl p span,
.ncd-photo.rad-5 ul.cap-ibc p span{border-radius: 0 0 5px 5px; }

.ncd-photo.rad-7 li div,
.ncd-photo.rad-7.photo-flow li div:before,
.ncd-photo.rad-7.photo-flow li img,
.ncd-photo.rad-7.photo-flow li div{border-radius:  7px;}
.ncd-photo.rad-7 ul.cap-ibl p span,
.ncd-photo.rad-7 ul.cap-ibc p span{border-radius: 0 0 7px 7px; }

/* Break Points for Columns */

@media only screen and (min-width: 400px) {

	.ncd-photo.photo-col-1.photo-grid li,
	.ncd-photo.photo-col-2.photo-grid li,
	.ncd-photo.photo-col-3.photo-grid li,
	.ncd-photo.photo-col-4.photo-grid li,
	.ncd-photo.photo-col-5.photo-grid li{width: 100%;}

	.ncd-photo.photo-col-1.photo-flow,
	.ncd-photo.photo-col-2.photo-flow,
	.ncd-photo.photo-col-3.photo-flow,
	.ncd-photo.photo-col-4.photo-flow,
	.ncd-photo.photo-col-5.photo-flow{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width: 550px) {

	.ncd-photo.photo-col-2.photo-grid li,
	.ncd-photo.photo-col-3.photo-grid li,
	.ncd-photo.photo-col-4.photo-grid li,
	.ncd-photo.photo-col-5.photo-grid li{width: 50%;}

	.ncd-photo.photo-col-2.photo-flow,
	.ncd-photo.photo-col-3.photo-flow,
	.ncd-photo.photo-col-4.photo-flow,
	.ncd-photo.photo-col-5.photo-flow{
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media only screen and (min-width: 750px) {
	.ncd-photo.photo-col-3.photo-grid li,
	.ncd-photo.photo-col-4.photo-grid li,
	.ncd-photo.photo-col-5.photo-grid li{width: 33.3333%;}

	.ncd-photo.photo-col-3.photo-flow,
	.ncd-photo.photo-col-4.photo-flow,
	.ncd-photo.photo-col-5.photo-flow{
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media only screen and (min-width: 950px) {
	.ncd-photo.photo-col-4.photo-grid li,
	.ncd-photo.photo-col-5.photo-grid li{width: 25%;}

	.ncd-photo.photo-col-4.photo-flow,
	.ncd-photo.photo-col-5.photo-flow{
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

@media only screen and (min-width: 1200px) {
	.ncd-photo.photo-col-5.photo-grid li{width: 20%;}

	.ncd-photo.photo-col-5.photo-flow{
		-moz-column-count: 5;
		-webkit-column-count: 5;
		column-count: 5;
	}
}

.batch-hide{
	position: absolute;
	opacity: 0;
	top:-9999px;
	left:-9999px;
}
@media only screen and (max-width: 400px) {
	.ncd-photo ul p{
		opacity: 0 !important;
	}
}

/* Captions Under Flow */

.ncd-photo.photo-flow.cap-under ul p,
.ncd-photo.photo-flow.cap-under ul p span{
position: static;
display: block;
margin-bottom: 0;
}

.ncd-photo.photo-flow.cap-under ul p span{
border-top-right-radius: 0 !important;
border-top-left-radius: 0 !important;
padding: 10px;
}

.ncd-photo.photo-flow.cap-under ul img{
border-bottom-right-radius: 0 !important;
border-bottom-left-radius: 0 !important;
}
	
.ncd-photo.photo-flow.cap-under li div{
-webkit-box-shadow: none;
box-shadow: none;
}

/* Lightbox */

#ncdPhotoLoader{
position: absolute;
color: #ff0000;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transition: opacity 300ms;
-moz-transition: opacity 300ms;
transition: opacity 300ms;
-webkit-transform: translate3d(-50%, -50%, 0);
-moz-transform: translate3d(-50%, -50%, 0);
transform: translate3d(-50%, -50%, 0);
}
#ncdPhotoLoader.processing{
	opacity: 1;
}
#ncdPhotoLoader.processing #ncdPhotoLoaderSpinner{
  height: 44px;
  width: 44px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

#ncdPhotoBase img{
-moz-user-select: -moz-none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-touch-callout:none;}

#ncdPhotoBase {
	position: fixed;
	top: -9999px;
	left: -9999px;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	-webkit-transition: opacity 300ms 0ms, top 0ms 300ms, left 0ms 300ms;
	-moz-transition: opacity 300ms 0ms, top 0ms 300ms, left 0ms 300ms;
	transition: opacity 300ms 0ms, top 0ms 300ms, left 0ms 300ms;
	user-select: none;}

#ncdPhotoBase *,
#ncdPhotoBase *:before,
#ncdPhotoBase *:after{
	box-sizing: content-box;
}

#ncdPhotoBase.on {
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 10000;
	-webkit-transition: 
		opacity 150ms ease-out,
		top 0ms ease-out,
		left 0ms ease-out;
	-moz-transition: 
		opacity 150ms ease-out,
		top 0ms ease-out,
		left 0ms ease-out;
	transition: 
		opacity 150ms ease-out,
		top 0ms ease-out,
		left 0ms ease-out;}
#ncdPhotoBase.out {
	z-index: 10000;
}
#ncdPhotoZoom,
#ncdPhotoClose,
#ncdPhotoNext,
#ncdPhotoPrev {
	z-index: 100;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	border: 2px solid transparent;
}

/* ZOOM & CLOSE */

#ncdPhotoZoom,
#ncdPhotoClose{
	margin-top: 4%;
	top: 0;
	-webkit-transition: border 0.3s ease-out, box-shadow 0.15s ease-out;
	-moz-transition: border 0.3s ease-out, box-shadow 0.15s ease-out;
	transition: border 0.3s ease-out, box-shadow 0.15s ease-out;
}

#ncdPhotoZoom:before,
#ncdPhotoZoom:after,
#ncdPhotoClose:before,
#ncdPhotoClose:after {
	top:50%;
  left:0;
  width:2px;
  height:18px;
  content:"";
  position:absolute;
  margin:-9px 25px 0;
  -webkit-transition: opacity 300ms, transform 300ms;
	-moz-transition: opacity 300ms, transform 300ms;
	transition: opacity 300ms, transform 300ms;}

/* ZOOM */

#ncdPhotoZoom{
	-webkit-transition: border 0.3s ease-out, box-shadow 0.15s ease-out, opacity 300ms ease-out, transform 300ms ease-out;
	-moz-transition: border 0.3s ease-out, box-shadow 0.15s ease-out, opacity 300ms ease-out, transform 300ms ease-out;
	transition: border 0.3s ease-out, box-shadow 0.15s ease-out, opacity 300ms ease-out, transform 300ms ease-out;
	left: 0;
	transform: rotate(90deg);
	opacity: 0;
	margin-left: 4%;}
#ncdPhotoZoom.enable{
	opacity:1;
	transform: rotate(0deg);	
}
#ncdPhotoZoom:after {
	-webkit-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);}

#ncdPhotoZoom.zoom:after {
	opacity: 0;
  -webkit-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);}
#ncdPhotoZoom:before {
  transform:rotate(0deg);}
#ncdPhotoZoom.zoom:before {
  transform:rotate(-90deg);}

/* CLOSE */

#ncdPhotoClose {
	right: 0;
	margin-right: 4%;}

#ncdPhotoClose:before,
#ncdPhotoClose:after {
  height:22px;
  margin:-11px 25px 0;
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);}

#ncdPhotoClose:after {
	-webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);}

/* PREV / NEXT */

#ncdPhotoNext,
#ncdPhotoPrev {
	top: 50%;
	margin-top: -25px;
	opacity: 0;
	transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out,border 0.3s ease-out,box-shadow 0.15s ease-out;
	-moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s ease-out,border 0.3s ease-out,box-shadow 0.15s ease-out;
	-webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out,border 0.3s ease-out,box-shadow 0.15s ease-out;
}

#ncdPhotoNext:before,
#ncdPhotoNext:after,
#ncdPhotoPrev:before,
#ncdPhotoPrev:after {
	top:50%;
  left:0;
  width:2px;
  height:15px;
  content:'';
  position:absolute;
  margin:-13px 27px 0;}

#ncdPhotoNext:after,
#ncdPhotoPrev:after{
	margin-top: -3px;
}
#ncdPhotoPrev:after,#ncdPhotoPrev:before {left:-3px;}
#ncdPhotoNext:after{
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);}
#ncdPhotoNext:before {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);}
#ncdPhotoPrev:after{
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  -o-transform:rotate(315deg);
  transform:rotate(315deg);}
#ncdPhotoPrev:before {
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  -o-transform:rotate(-315deg);
  transform:rotate(-315deg);}

@media screen and (min-width: 800px) {
	#ncdPhotoControls #ncdPhotoCounter{
		display: none;
	}
}
@media screen and (max-width: 800px) {
#ncdPhotoControls{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 53px;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout:none;
	z-index: 100;}

	/* No Caption Mobile */
	#ncdPhotoBase.cap-hide #ncdPhotoControls{height: 70px;}
	#ncdPhotoBase.cap-hide .ncd-ui{bottom: 8px !important;}

	#ncdPhotoZoom.zoom{
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

/* Prev Button */

#ncdPhotoNext {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	transform: translateX(-15px);
	right: 4%;}
#ncdPhotoPrev {
	-webkit-transform: translateX(15px);
	-moz-transform: translateX(15px);
	transform: translateX(15px);
	left: 4%;}


#ncdPhotoBase:hover #ncdPhotoNext,
#ncdPhotoBase:hover #ncdPhotoPrev {
	-webkit-transform: translateX(0) rotate(0deg);opacity: 1;
	-moz-transform: translateX(0) rotate(0deg);opacity: 1;
	transform: translateX(0) rotate(0deg);opacity: 1;
}


@media screen and (max-width: 800px) {
	#ncdPhotoBase #ncdPhotoNext,
	#ncdPhotoBase #ncdPhotoPrev {
		-webkit-transform: translateX(0) rotate(0deg);
		-moz-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		margin-top: 4%;
		top: 0;
		opacity: 1;
	}
	#ncdPhotoBase #ncdPhotoNext{margin-right: 20%; }
	#ncdPhotoBase #ncdPhotoZoom{margin-left: -25px;left: 50%;}
	#ncdPhotoBase #ncdPhotoPrev{margin-left: 20%;}

	#ncdPhotoBase #ncdPhotoCounter,
	#ncdPhotoBase #ncdPhotoClose,
	#ncdPhotoBase #ncdPhotoNext,
	#ncdPhotoBase #ncdPhotoZoom,
	#ncdPhotoBase #ncdPhotoPrev{top: auto; bottom: 0;}
	#ncdPhotoOverlay div.slide p{
		position: absolute;
		bottom: 100%;
		left: 0;
	}

	#ncdPhotoCounter{
		position: absolute;
	  left: 4%;
	  margin-left: 10px;
	  font-family: 'Helvetica Neue';
  	font-weight: 300;
  	letter-spacing: -1px;
	  height: 27px;
	  line-height: 0;
	  font-size: 16px;
	  z-index: 100;
	}
	#ncdPhotoCounter .lb-current{
		font-size: 28px;
		padding-right: 2px;
		letter-spacing: -2px;
	}

}
#ncdPhotoBase.out #ncdPhotoNext {
	-webkit-transform: translateX(30px) rotate(0deg);opacity: 0;
	-moz-transform: translateX(30px) rotate(0deg);opacity: 0;
	transform: translateX(30px) rotate(0deg);opacity: 0;
}
#ncdPhotoBase.out #ncdPhotoPrev {
	-webkit-transform: translateX(-30px) rotate(0deg);opacity: 0;
	-moz-transform: translateX(-30px) rotate(0deg);opacity: 0;
	transform: translateX(-30px) rotate(0deg);opacity: 0;
}
#ncdPhotoBase #ncdPhotoNext.hide,
#ncdPhotoBase #ncdPhotoPrev.hide {opacity: 0;}

#ncdPhotoBase.single-image #ncdPhotoNext,
#ncdPhotoBase.single-image #ncdPhotoPrev,
#ncdPhotoOverlay[data-hide-full-title="True"] span b,
#ncdPhotoOverlay[data-hide-full-caption="True"] span em{
	display: none;
}



/* Lightbox */

#ncdPhotoOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#ncdPhotoOverlay div.slide {
	display: block;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 0;
	position:absolute;
	top:-9999px;
	left:-9999px;
}
#ncdPhotoOverlay div.slide.ncd-show{
	position: relative;
  top: 50%;
  left: 0%;
  height: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#ncdPhotoOverlay div.slide > div {
	display: inline-block;
	position: relative;
	opacity: 0;
	padding: 4%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 300ms ease-out, max-height 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, max-height 300ms ease-out;
	transition: opacity 300ms ease-out, max-height 300ms ease-out;
}
#ncdPhotoOverlay div.slide.zoom.in > div {
	padding: 0;
}
#ncdPhotoOverlay div.slide.zoom.in,
#ncdPhotoOverlay div.slide.zoom.in > div {font-size: 0;}

#ncdPhotoOverlay div.slide.zoom {
	overflow: scroll; 
	cursor:move;
	-webkit-overflow-scrolling: touch;}
#ncdPhotoOverlay div.slide.zoom::-webkit-scrollbar {
	display: none;
}
#ncdPhotoOverlay div.slide.zoom.in .img-caption-in{position: absolute;top: -9999px;left: -9999px;}
#ncdPhotoOverlay div.slide.zoom.in br{display: none;}
#ncdPhotoOverlay div.slide.zoom.out br{display: block;}
#ncdPhotoOverlay div.slide.zoom.in.transition,
#ncdPhotoOverlay div.slide.zoom.out{overflow: hidden;}
#ncdPhotoOverlay div.slide.zoom.transition div{
	-webkit-animation: float-zoom-in 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	-moz-animation: float-zoom-in 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	animation: float-zoom-in 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
}
#ncdPhotoOverlay div.slide.zoom.in div{
	line-height: normal;
	-webkit-animation: float-zoom-in-complete 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	-moz-animation: float-zoom-in-complete 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	animation: float-zoom-in-complete 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
}
#ncdPhotoOverlay div.slide.zoom.in.transition div{
	-webkit-animation: float-zoom-out 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	-moz-animation: float-zoom-out 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	animation: float-zoom-out 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
}
#ncdPhotoOverlay div.slide.zoom.out div{
	-webkit-animation: float-zoom-out-complete 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	-moz-animation: float-zoom-out-complete 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
	animation: float-zoom-out-complete 250ms cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
}
#ncdPhotoOverlay div.slide.ncd-show > div{opacity: 1;}

@-webkit-keyframes float-zoom-in {
  from {-webkit-transform: scale(1);opacity: 1}
  to {-webkit-transform: scale(1.03);opacity: 0}
}
@keyframes float-zoom-in {
  from {transform: scale(1);opacity: 1}
  to {transform: scale(1.03);opacity: 0}
}

@-webkit-keyframes float-zoom-in-complete {
  from {-webkit-transform: scale(.98);opacity: 0}
  to {-webkit-transform: scale(1);opacity: 1}
}
@keyframes float-zoom-in-complete {
  from {transform: scale(.98);opacity: 0}
  to {transform: scale(1);opacity: 1}
}

@-webkit-keyframes float-zoom-out {
  from {-webkit-transform: scale(1);opacity: 1}
  to {-webkit-transform: scale(.98);opacity: 0}
}
@keyframes float-zoom-out {
  from {transform: scale(1);opacity: 1}
  to {transform: scale(.98);opacity: 0}
}

@-webkit-keyframes float-zoom-out-complete {
  from {-webkit-transform: scale(1.03);opacity: 0}
  to {-webkit-transform: scale(1);opacity: 1}
}
@keyframes float-zoom-out-complete {
  from {transform: scale(1.03);opacity: 0}
  to {transform: scale(1);opacity: 1}
}

@-webkit-keyframes float-in {
  from {-webkit-transform: scale(1.04);opacity: 0}
  to {-webkit-transform: scale(1);opacity: 1}
}
@keyframes float-in {
  from {transform: scale(1.04);opacity: 0}
  to {transform: scale(1);opacity: 1}
}

@-webkit-keyframes float-down {
  from {-webkit-transform: translateY(-15px);opacity: 0}
  to {-webkit-transform: translateY(0);opacity: 1}
}
@keyframes float-down {
  from {transform: translateY(-15px);opacity: 0}
  to {transform: translateY(0);opacity: 1}
}

@-webkit-keyframes float-out {
  from {-webkit-transform: scale(1);opacity: 1}
  to {-webkit-transform: scale(0.97);opacity: 0}
}
@keyframes float-out {
  from {transform: scale(1);opacity: 1}
  to {transform: scale(0.97);opacity: 0}
}

@-webkit-keyframes float-up {
  from {-webkit-transform: translateY(0px);opacity: 1}
  to {-webkit-transform: translateY(10px);opacity: 0}
}
@keyframes float-up {
  from {transform: translateY(0px);opacity: 1}
  to {transform: translateY(10px);opacity: 0}
}

@-webkit-keyframes float-next {
  from {-webkit-transform: translateX(8px);opacity: 0}
  to {-webkit-transform: translateX(0);opacity: 1}
}
@keyframes float-next {
  from {transform: translateX(8px);opacity: 0}
  to {transform: translateX(0);opacity: 1}
}

@-webkit-keyframes float-prev {
  from {-webkit-transform: translateX(-8px);opacity: 0}
  to {-webkit-transform: translateX(0);opacity: 1}
}
@keyframes float-prev {
  from {transform: translateX(-8px);opacity: 0}
  to {transform: translateX(0);opacity: 1}
}

@-webkit-keyframes text-swap {
  from {-webkit-opacity: 0}
  to {-webkit-opacity: 1}
}
@keyframes text-swap {
  from {opacity: 0}
  to {opacity: 1}
}
#ncdPhotoOverlay div.slide img {
	list-style: none;
	line-height: 0;
	max-width: 100% !important;
	border-radius: 0px;
}
#ncdPhotoOverlay div.slide.zoom.in img{
	max-width: none !important;
	border-radius: 0;
}

#ncdPhotoBase.in img {
	-webkit-animation: float-in 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 150ms backwards;
	animation: float-in 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 150ms backwards;
}
#ncdPhotoBase.out img {
	-webkit-animation: float-out 300ms ease-out backwards;
	animation: float-out 300ms ease-out backwards;
}
#ncdPhotoBase.out .img-caption-in {
	-webkit-animation: float-up 400ms ease-out;
	animation: float-up 400ms ease-out;
}

@media screen and (min-width: 800px) {
	#ncdPhotoBase.go-next img,
	#ncdPhotoBase.go-next .img-caption-in {
		-webkit-animation: float-next 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
		animation: float-next 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
	}
	#ncdPhotoBase.go-prev img,
	#ncdPhotoBase.go-prev .img-caption-in {
		-webkit-animation: float-prev 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
		animation: float-prev 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
	}
}
@media screen and (max-width: 800px) {
	#ncdPhotoBase.go-next img{
		-webkit-animation: float-next 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
		animation: float-next 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
	}
	#ncdPhotoBase.go-prev img{
		-webkit-animation: float-prev 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
		animation: float-prev 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
	}
	#ncdPhotoBase.go-next #ncdPhotoCaption p,
	#ncdPhotoBase.go-prev #ncdPhotoCaption p {
		-webkit-animation: text-swap 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
		animation: text-swap 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
	}
}

/* COUNTER */

.ncdPhotoCounter{
	left: auto !important;
	right: 0;}
.ncdPhotoCounter[data-show-count="False"],
#ncdPhotoCounter[data-show-count="False"]{
	display: none !important;}

/* CAPTION */

#ncdPhotoCaption{
	display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  padding: 12px 4%;
  z-index: 100;
  line-height: 1.4;
}
#ncdPhotoCaption b{
	padding-right: 5px;
}
.img-caption-in{
	display: none;
}

@media screen and (min-width: 800px) {

	#ncdPhotoCaption{
		display: none;
	}
	.img-caption-in{
		display: block;
	}
	.img-caption-in:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}
#ncdPhotoOverlay p.ncdPhotoCounter,
#ncdPhotoOverlay p{
	display: inline-block;
	text-align: left;
	padding: 12px 0 18px;
	font-size: 14px;
	font-variant: normal;
	line-height: 20px;
	margin: 0;
	float: left;
}
.img-caption-in{
	opacity: 0;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}
#ncdPhotoOverlay p.ncdPhotoCounter{
	float: right;
}

#ncdPhotoBase:hover .img-caption-in {opacity: 1}
#ncdPhotoBase.cap-hide .img-caption-in{ display: none; }
#ncdPhotoBase.cap-show .img-caption-in{ opacity: 1}
#ncdPhotoBase.cap-show .img-caption-in.invis{
	visibility: hidden;
	-webkit-animation:none;
	animation:none}
#ncdPhotoBase.cap-show .img-caption-in.ncd-show{
	-webkit-animation: float-down 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: float-down 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#ncdPhotoOverlay p b{
	font-weight: normal;
	font-style: normal;
	padding-right: 5px;
}
#ncdPhotoOverlay p em{
	font-weight: normal;
	font-style: normal;
}

/* LB Font Styles */

#ncdPhotoOverlay[data-italic-title="True"] p b,
#ncdPhotoOverlay[data-italic-caption="True"] p em{ font-style: italic; }
#ncdPhotoOverlay[data-bold-title="True"] p b,
#ncdPhotoOverlay[data-bold-caption="True"] p em{ font-weight: bold; }
#ncdPhotoOverlay[data-hide-title="True"] p b,
#ncdPhotoCaption[data-hide-title="True"] p b,
#ncdPhotoOverlay[data-hide-caption="True"] p em{ display: none; }

/* LB Theme - Default Dark */

.style-default #ncdPhotoOverlay p b,
.style-default #ncdPhotoCaption p b{color: #FFF} /* Caption Title */
.style-default #ncdPhotoOverlay p em,
.style-default #ncdPhotoCaption p em,
.style-default .ncdPhotoCounter,
.style-default #ncdPhotoCounter{color: #AAA} /* Caption Text */

.style-default img{box-shadow: 0 2px 16px rgba(0,0,0,0.6);} /* Img Shadow */
.style-default{background: rgba(0,0,0,0.85)} /* Overlay */

.style-default #ncdPhotoLoader.processing #ncdPhotoLoaderSpinner{
  border-left: 3px solid rgba(200,200,200, .15);
  border-right: 3px solid rgba(200,200,200, .15);
  border-bottom: 3px solid rgba(200,200,200, .15);
  border-top: 3px solid rgba(200,200,200, .8);
}

@media screen and (max-width: 800px) {
	.style-default #ncdPhotoControls{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));}
}

.style-default #ncdPhotoZoom,
.style-default #ncdPhotoClose,
.style-default #ncdPhotoNext,
.style-default #ncdPhotoPrev {
	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.1)));
	background-image: -webkit-radial-gradient(50% 50%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.00));
	background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.00));
}

.style-default #ncdPhotoCaption{background: #000;}
.style-default #ncdPhotoNext:before,#ncdPhotoNext:after,
.style-default #ncdPhotoPrev:before,#ncdPhotoPrev:after,
.style-default #ncdPhotoZoom:before,#ncdPhotoZoom:after,
.style-default #ncdPhotoClose:before,#ncdPhotoClose:after,
.style-default #ncdPhotoNext:hover:before,#ncdPhotoNext:hover:after,
.style-default #ncdPhotoPrev:hover:before,#ncdPhotoPrev:hover:after,
.style-default #ncdPhotoClose:hover:before,#ncdPhotoClose:hover:after {background: #FFF}
.style-default #ncdPhotoCounter{color: #FFF}

.style-default #ncdPhotoZoom:active,
.style-default #ncdPhotoClose:active,
.style-default #ncdPhotoNext:active,
.style-default #ncdPhotoPrev:active{
	box-shadow: 0 0 0 5px rgba(255,255,255,0.6);
	border: 2px solid #FFF;}

.style-default #ncdPhotoZoom.zoom{border: 2px solid #FFF;}

@media screen and (min-width: 800px) {
	.style-default #ncdPhotoZoom:hover,
	.style-default #ncdPhotoClose:hover,
	.style-default #ncdPhotoNext:hover,
	.style-default #ncdPhotoPrev:hover{border: 2px solid #FFF;}
}

/* LB Theme - Contrast Light */

.style-contrast #ncdPhotoOverlay p b{color: #333}
.style-contrast #ncdPhotoCaption p b{color: #FFF}

.style-contrast #ncdPhotoOverlay p em,
.style-contrast .ncdPhotoCounter{color: #555}
.style-contrast #ncdPhotoCaption p em{color: #AAA}

.style-contrast img{box-shadow: 0 2px 10px rgba(0,0,0,0.15);}
.style-contrast{background: rgba(255,255,255,0.85)}

.style-contrast #ncdPhotoLoader.processing #ncdPhotoLoaderSpinner{
  border-left: 3px solid rgba(100,100,100, .15);
  border-right: 3px solid rgba(100,100,100, .15);
  border-bottom: 3px solid rgba(100,100,100, .15);
  border-top: 3px solid rgba(100,100,100, .8);
}

.style-contrast #ncdPhotoCaption{background: #000}
.style-contrast #ncdPhotoCounter{color: #222}
.style-contrast #ncdPhotoNext:before,.style-contrast #ncdPhotoNext:after,
.style-contrast #ncdPhotoPrev:before,.style-contrast #ncdPhotoPrev:after,
.style-contrast #ncdPhotoZoom:before,.style-contrast #ncdPhotoZoom:after,
.style-contrast #ncdPhotoClose:before,.style-contrast #ncdPhotoClose:after,
.style-contrast #ncdPhotoNext:hover:before,.style-contrast #ncdPhotoNext:hover:after,
.style-contrast #ncdPhotoPrev:hover:before,.style-contrast #ncdPhotoPrev:hover:after,
.style-contrast #ncdPhotoClose:hover:before,.style-contrast #ncdPhotoClose:hover:after {background: #222}

.style-contrast #ncdPhotoZoom.zoom,
.style-contrast #ncdPhotoZoom.zoom + .style-contrast #ncdPhotoClose{
	background: rgba(0,0,0,0.3);
}

.style-contrast #ncdPhotoZoom,
.style-contrast #ncdPhotoClose,
.style-contrast #ncdPhotoZoom:before,
.style-contrast #ncdPhotoZoom:after,
.style-contrast #ncdPhotoClose:before,
.style-contrast #ncdPhotoClose:after{transition: transform 300ms, border 300ms, box-shadow 300ms, background 300ms;}

.style-contrast #ncdPhotoZoom.zoom:before,
.style-contrast #ncdPhotoZoom.zoom:after,
.style-contrast #ncdPhotoZoom.zoom + .style-contrast #ncdPhotoClose:before,
.style-contrast #ncdPhotoZoom.zoom + .style-contrast #ncdPhotoClose:after{background: #FFF;}

.style-contrast #ncdPhotoZoom:active,
.style-contrast #ncdPhotoClose:active,
.style-contrast #ncdPhotoNext:active,
.style-contrast #ncdPhotoPrev:active{
	box-shadow: 0 0 0 5px rgba(0,0,0,0.15);
	border: 2px solid #222;}

#ncdPhotoZoom.zoom{border: 2px solid rgba(0,0,0,0.6);}
 
 @media screen and (min-width: 800px) {
	.style-contrast #ncdPhotoZoom,
	.style-contrast #ncdPhotoClose,
	.style-contrast #ncdPhotoNext,
	.style-contrast #ncdPhotoPrev {
		background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(rgba(255,255,255, 0.00)), to(rgba(255,255,255, 0.4)));
		background-image: -webkit-radial-gradient(50% 50%, rgba(255,255,255, 0.4), rgba(255,255,255, 0.00));
		background-image: radial-gradient(50% 50%, rgba(255,255,255, 0.4), rgba(255,255,255, 0.00));
	}
	
	.style-contrast #ncdPhotoZoom:hover,
	.style-contrast #ncdPhotoClose:hover,
	.style-contrast #ncdPhotoNext:hover,
	.style-contrast #ncdPhotoPrev:hover{border: 2px solid #222;}
}

@media screen and (max-width: 800px) {

	.style-contrast #ncdPhotoCounter{color: #fff}
	.style-contrast #ncdPhotoNext:before,.style-contrast #ncdPhotoNext:after,
	.style-contrast #ncdPhotoPrev:before,.style-contrast #ncdPhotoPrev:after,
	.style-contrast #ncdPhotoZoom:before,.style-contrast #ncdPhotoZoom:after,
	.style-contrast #ncdPhotoClose:before,.style-contrast #ncdPhotoClose:after,
	.style-contrast #ncdPhotoNext:hover:before,.style-contrast #ncdPhotoNext:hover:after,
	.style-contrast #ncdPhotoPrev:hover:before,.style-contrast #ncdPhotoPrev:hover:after,
	.style-contrast #ncdPhotoClose:hover:before,.style-contrast #ncdPhotoClose:hover:after {background: #fff}

	.style-contrast #ncdPhotoControls{
		background-color: rgba(0,0,0,0.3);
		background-image: none;}

	.style-contrast #ncdPhotoZoom.zoom,
	.style-contrast #ncdPhotoZoom.zoom + .style-contrast #ncdPhotoClose{
		background: transparent;
	}

	.style-contrast #ncdPhotoZoom:active,
	.style-contrast #ncdPhotoZoom.zoom,
	.style-contrast #ncdPhotoClose:active,
	.style-contrast #ncdPhotoNext:active,
	.style-contrast #ncdPhotoPrev:active{
		box-shadow: 0 0 0 5px transparent;
		border: 2px solid transparent;}

	.style-contrast #ncdPhotoZoom.zoom{transform: translateY(0px);}

	#ncdPhotoBase.style-contrast #ncdPhotoNext.hide, 
	#ncdPhotoBase.style-contrast #ncdPhotoPrev.hide{opacity: 1;}
}



/* Edit Mode */

